.git
.gitattributes
.gitignore
.idea
.cursor
.cursorrules
.cursorignore
.cursorignorerules
.DS_Store

.env
.env.*
.phinx.env
logs
vendor
cache
config/cache
.phpunit.cache
.deploy-state
.local
dev-keys
keys

tests
phpunit.xml
infection.json5
agent
